# Twitter Disaster Detection

## Project Preperation

### Imports

#### PYthon Imports

In [ ]:
import pandas as pd
from IPython.display import display
import configparser
import modules.pred_word_vectorizer as wv
import modules.pred_decision_trees as decision_trees
from sklearn.model_selection import train_test_split

#### Settings Import

In [ ]:
settings = configparser.ConfigParser()
settings.read('main.ini')
file_path = settings['FILE']['file']

#### Import Source File into DataFrame

In [ ]:
df = pd.read_csv(file_path)

### Data Exploration

In [ ]:
# mod_de.data_exploration(df)

   id keyword location                                               text  \
0   1     NaN      NaN  Our Deeds are the Reason of this #earthquake M...
1   4     NaN      NaN             Forest fire near La Ronge Sask. Canada
2   5     NaN      NaN  All residents asked to 'shelter in place' are ...
3   6     NaN      NaN  13,000 people receive #wildfires evacuation or...
4   7     NaN      NaN  Just got sent this photo from Ruby #Alaska as ...

   target
0       1
1       1
2       1
3       1
4       1
         id keyword location  \
0         1     NaN      NaN
1         4     NaN      NaN
2         5     NaN      NaN
3         6     NaN      NaN
4         7     NaN      NaN
...     ...     ...      ...
7608  10869     NaN      NaN
7609  10870     NaN      NaN
7610  10871     NaN      NaN
7611  10872     NaN      NaN
7612  10873     NaN      NaN

                                                   text  target
0     Our Deeds are the Reason of this #earthquake M...       1
1                Forest fire near La Ronge Sask. Canada       1
2     All residents asked to 'shelter in place' are ...       1
3     13,000 people receive #wildfires evacuation or...       1
4     Just got sent this photo from Ruby #Alaska as ...       1
...                                                 ...     ...
7608  Two giant cranes holding a bridge collapse int...       1
7609  @aria_ahrary @TheTawniest The out of control w...       1
7610  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...       1
7611  Police investigating after an e-bike collided ...       1
7612  The Latest: More Homes Razed by Northern Calif...       1

[7613 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB
None
                 id      target
count   7613.000000  7613.00000
mean    5441.934848     0.42966
std     3137.116090     0.49506
min        1.000000     0.00000
25%     2734.000000     0.00000
50%     5408.000000     0.00000
75%     8146.000000     1.00000
max    10873.000000     1.00000

### Data Cleaning

In [ ]:
wv.cleaning(df)
df

,id,keyword,location,text,target,clean
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1,@@@ wholesale markets ablaze http
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0,always try bring the heavy metal http
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1,africanbaze breaking news nigeria flag set ab...
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0,crying out for more set ablaze
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0,plus side look the sky last night was ablaze ...
...,...,...,...,...,...,...
7578,10830,wrecked,NaN,@jt_ruff23 @cameronhacker and I wrecked you both,0,@@@ @@@ and wrecked you both
7579,10831,wrecked,"Vancouver, Canada",Three days off from work and they've pretty mu...,0,three days off from work and they pretty much ...
7580,10832,wrecked,London,#FX #forex #trading Cramer: Iger's 3 words tha...,0,forex trading cramer iger words that wreck...
7581,10833,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0,@@@ great atmosphere the british lion gig toni...
7582,10834,wrecked,NaN,Cramer: Iger's 3 words that wrecked Disney's s...,0,cramer iger words that wrecked disney stock...

### Word-Vectorizer

In [ ]:
wv.lemmatizer(df)
df

In [ ]:
X_train, X_test, y_train, y_test = wv.vectorizer(df)

df_test = wv.modeler(df, X_train, X_test, y_train, y_test)
df_test

### Random Tree

In [ ]:
X = wv.simple_vectorizer(df)
y = df['target']

### Random Tree

In [ ]:
X = wv.simple_vectorizer(df)
y = df['target']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

In [ ]:
print('DecisionTreeClassifier:' , decision_trees.cvs_decision_tree(X_train, y_train))
print('AdaBoostClassifier:' , decision_trees.csv_adaboost(X_train, y_train))