# Twitter Disaster Detection

## Project Preperation

### Imports

#### PYthon Imports

In [5]:
import pandas as pd
from IPython.display import display
import configparser
import modules.pred_word_vectorizer as wv
import modules.pred_decision_trees as decision_trees
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, TfidfTransformer
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import GaussianNB, MultinomialNB

#### Settings Import

In [6]:
settings = configparser.ConfigParser()
settings.read('main.ini')
file_path = settings['FILE']['file']

#### Import Source File into DataFrame

In [7]:
df = pd.read_csv(file_path)

### Data Exploration

In [8]:
# mod_de.data_exploration(df)

### Data Cleaning

In [9]:
wv.cleaning(df)
df

,id,keyword,location,text,target,clean
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,our deeds are the reason this earthquake may a...
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,forest fire near ronge sask canada
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,all residents asked shelter place are being ...
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,people receive wildfires evacuation ord...
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,just got sent this photo from ruby alaska smok...
...,...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1,two giant cranes holding bridge collapse into ...
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1,@@@ @@@ the out control wild fires california ...
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,utc s volcano hawaii http
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1,police investigating after e bike collided wit...
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1,the latest more homes razed northern californ...

### Word-Vectorizer

In [10]:
wv.lemmatizer(df)
df

[nltk_data] Downloading package stopwords to /home/sven/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/sven/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

,id,keyword,location,text,target,clean
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,deed reason earthquake may allah forgive
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,forest fire near ronge sask canada
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,resident asked shelter place notified officer ...
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,people receive wildfire evacuation order calif...
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,got sent photo ruby alaska smoke wildfire pour...
...,...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1,two giant crane holding bridge collapse nearby...
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1,@@@ @@@ control wild fire california even nort...
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,utc volcano hawaii http
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1,police investigating e bike collided car littl...
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1,latest home razed northern california wildfire...

In [11]:
X_train, X_test, y_train, y_test = wv.vectorizer(df)

df_test = wv.modeler(df, X_train, X_test, y_train, y_test)
df_test

X_train  (6090, 12477)
y_train  (6090, 1)
X_test   (1523, 12477)
y_test   (1523, 1)
matrix shape (1523, 12477)
y shape (1523,)
accuracy_score 0.81

/home/sven/.pyenv/versions/venv/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

,id,keyword,location,text,target,clean,y_pred
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,resident asked shelter place notified officer ...,1
10,16,NaN,NaN,Three people died from the heat wave so far,1,three people died heat wave far,1
12,18,NaN,NaN,#raining #flooding #Florida #TampaBay #Tampa 1...,1,raining flooding florida tampabay tampa day lo...,1
19,28,NaN,NaN,What a goooooooaaaaaal!!!!!!,0,goooooooaaaaaal,0
24,36,NaN,NaN,LOOOOOOL,0,looooool,0
...,...,...,...,...,...,...,...
7591,10846,NaN,NaN,Heat wave warning aa? Ayyo dei. Just when I pl...,1,heat wave warning ayyo dei plan visit friend year,1
7598,10853,NaN,NaN,Father-of-three Lost Control of Car After Over...,1,father three lost control car overtaking colli...,1
7605,10864,NaN,NaN,on the flip side I'm at Walmart and there is a...,1,flip side walmart bomb everyone evacuate stay ...,1
7606,10866,NaN,NaN,Suicide bomber kills 15 in Saudi security site...,1,suicide bomber kill saudi security site mosque...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1,latest home razed northern california wildfire...,1

### Random Tree

In [12]:
X = wv.simple_vectorizer(df)
y = df['target']

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(6090, 12477) (1523, 12477) (6090,) (1523,)

In [14]:
print('DecisionTreeClassifier:' , decision_trees.cvs_decision_tree(X_train, y_train))
print('AdaBoostClassifier:' , decision_trees.csv_adaboost(X_train, y_train))

## Probleme local mit py xgboost / check later
# print('xgboost:' , decision_trees.csv_xgboost(X_train, y_train))

Model: DecisionTreeClassifier()
Training set score: 0.986863711001642
CV score: 0.7417077175697865
DecisionTreeClassifier: [1 0 1 ... 0 1 1]
Model: AdaBoostClassifier()
Training set score: 0.7656814449917898
CV score: 0.7380952380952381
AdaBoostClassifier: [1 0 1 ... 0 1 0]

In [15]:
### playing with Pipelines

In [16]:
# testing with full set
# todo: train test split and other features

X = df.clean
y = df['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

pipe_tf = Pipeline(steps = [
    ('data_vec', TfidfVectorizer()),
    ('model', MultinomialNB())
])
print('MultinomialNB cross_val_score, TfidfVectorizer :', cross_val_score(pipe_tf, X_train, y_train).mean())

pipe_cv =  Pipeline(steps = [
    ('data_cv', CountVectorizer()),
    ('model', MultinomialNB())
])
print('MultinomialNB cross_val_score, CountVectorizer :', cross_val_score(pipe_cv,  X_train, y_train).mean())


pipe_comb =  Pipeline(steps = [
    ('vect', CountVectorizer()),
    ('tfidf', TfidfTransformer(use_idf=True)),
    ('model', MultinomialNB())
])
print('MultinomialNB cross_val_score, pipe_comb :', cross_val_score(pipe_comb,  X_train, y_train).mean())

(6090,) (1523,) (6090,) (1523,)
MultinomialNB cross_val_score, TfidfVectorizer : 0.7967159277504104
MultinomialNB cross_val_score, CountVectorizer : 0.7970443349753695
MultinomialNB cross_val_score, pipe_comb : 0.7967159277504104

In [17]:
from sklearn.metrics import plot_confusion_matrix, confusion_matrix, accuracy_score

pipe_tf.fit(X_train, y_train)
pipeline_preds = pipe_tf.predict(X_test)
print('Naive Bayes:')
print('accuracy_score: TfidfVectorizer', accuracy_score(y_test, pipeline_preds))
val_confusion_matrix = confusion_matrix(y_test, pipeline_preds)
print(f'Confusion Matrix: \n{val_confusion_matrix}')

print()

pipe_cv.fit(X_train, y_train)
pipeline_preds = pipe_cv.predict(X_test)
print('accuracy_score: CountVectorizer', accuracy_score(y_test, pipeline_preds))
val_confusion_matrix = confusion_matrix(y_test, pipeline_preds)
print(f'Confusion Matrix: \n{val_confusion_matrix}')

print()

pipe_comb.fit(X_train, y_train)
pipeline_preds = pipe_comb.predict(X_test)
print('accuracy_score: combined', accuracy_score(y_test, pipeline_preds))
val_confusion_matrix = confusion_matrix(y_test, pipeline_preds)
print(f'Confusion Matrix: \n{val_confusion_matrix}')

Naive Bayes:
accuracy_score: TfidfVectorizer 0.8017071569271176
Confusion Matrix:
[[779  95]
 [207 442]]

accuracy_score: CountVectorizer 0.7977675640183848
Confusion Matrix:
[[740 134]
 [174 475]]

accuracy_score: combined 0.8017071569271176
Confusion Matrix:
[[779  95]
 [207 442]]

print('DecisionTreeClassifier:' , decision_trees.cvs_decision_tree(X_train, y_train))
print('AdaBoostClassifier:' , decision_trees.csv_adaboost(X_train, y_train))

In [ ]:
import pandas as pd
from IPython.display import display
import configparser
import modules.pred_word_vectorizer as wv
import modules.pred_decision_trees as decision_trees
from sklearn.model_selection import train_test_split

#### Settings Import

In [ ]:
settings = configparser.ConfigParser()
settings.read('main.ini')
file_path = settings['FILE']['file']

#### Import Source File into DataFrame

In [ ]:
df = pd.read_csv(file_path)

### Data Exploration

In [ ]:
# mod_de.data_exploration(df)

   id keyword location                                               text  \
0   1     NaN      NaN  Our Deeds are the Reason of this #earthquake M...
1   4     NaN      NaN             Forest fire near La Ronge Sask. Canada
2   5     NaN      NaN  All residents asked to 'shelter in place' are ...
3   6     NaN      NaN  13,000 people receive #wildfires evacuation or...
4   7     NaN      NaN  Just got sent this photo from Ruby #Alaska as ...

   target
0       1
1       1
2       1
3       1
4       1
         id keyword location  \
0         1     NaN      NaN
1         4     NaN      NaN
2         5     NaN      NaN
3         6     NaN      NaN
4         7     NaN      NaN
...     ...     ...      ...
7608  10869     NaN      NaN
7609  10870     NaN      NaN
7610  10871     NaN      NaN
7611  10872     NaN      NaN
7612  10873     NaN      NaN

                                                   text  target
0     Our Deeds are the Reason of this #earthquake M...       1
1                Forest fire near La Ronge Sask. Canada       1
2     All residents asked to 'shelter in place' are ...       1
3     13,000 people receive #wildfires evacuation or...       1
4     Just got sent this photo from Ruby #Alaska as ...       1
...                                                 ...     ...
7608  Two giant cranes holding a bridge collapse int...       1
7609  @aria_ahrary @TheTawniest The out of control w...       1
7610  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...       1
7611  Police investigating after an e-bike collided ...       1
7612  The Latest: More Homes Razed by Northern Calif...       1

[7613 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB
None
                 id      target
count   7613.000000  7613.00000
mean    5441.934848     0.42966
std     3137.116090     0.49506
min        1.000000     0.00000
25%     2734.000000     0.00000
50%     5408.000000     0.00000
75%     8146.000000     1.00000
max    10873.000000     1.00000

### Data Cleaning

In [ ]:
wv.cleaning(df)
df

,id,keyword,location,text,target,clean
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1,@@@ wholesale markets ablaze http
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0,always try bring the heavy metal http
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1,africanbaze breaking news nigeria flag set ab...
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0,crying out for more set ablaze
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0,plus side look the sky last night was ablaze ...
...,...,...,...,...,...,...
7578,10830,wrecked,NaN,@jt_ruff23 @cameronhacker and I wrecked you both,0,@@@ @@@ and wrecked you both
7579,10831,wrecked,"Vancouver, Canada",Three days off from work and they've pretty mu...,0,three days off from work and they pretty much ...
7580,10832,wrecked,London,#FX #forex #trading Cramer: Iger's 3 words tha...,0,forex trading cramer iger words that wreck...
7581,10833,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0,@@@ great atmosphere the british lion gig toni...
7582,10834,wrecked,NaN,Cramer: Iger's 3 words that wrecked Disney's s...,0,cramer iger words that wrecked disney stock...

### Word-Vectorizer

In [ ]:
wv.lemmatizer(df)
df

In [ ]:
X_train, X_test, y_train, y_test = wv.vectorizer(df)

df_test = wv.modeler(df, X_train, X_test, y_train, y_test)
df_test

### Random Tree

In [ ]:
X = wv.simple_vectorizer(df)
y = df['target']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

In [ ]:
print('DecisionTreeClassifier:' , decision_trees.cvs_decision_tree(X_train, y_train))
print('AdaBoostClassifier:' , decision_trees.csv_adaboost(X_train, y_train))