In [18]:
import pandas as pd
from IPython.display import display
import configparser
import modules.test as tst
import modules.pred_word_vectorizer as wv
import modules.pred_decision_trees as decision_trees
from sklearn.model_selection import train_test_split

settings = configparser.ConfigParser()
settings.read('main.ini')

file_path = settings['FILE']['file']

df = pd.read_csv(file_path)

tst.import_test()
display(df)

'test'

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [20]:
wv.cleaning(df)
df

,id,keyword,location,text,target,clean
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1,@@@ wholesale markets ablaze http
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0,always try bring the heavy metal http
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1,africanbaze breaking news nigeria flag set ab...
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0,crying out for more set ablaze
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0,plus side look the sky last night was ablaze ...
...,...,...,...,...,...,...
7578,10830,wrecked,NaN,@jt_ruff23 @cameronhacker and I wrecked you both,0,@@@ @@@ and wrecked you both
7579,10831,wrecked,"Vancouver, Canada",Three days off from work and they've pretty mu...,0,three days off from work and they pretty much ...
7580,10832,wrecked,London,#FX #forex #trading Cramer: Iger's 3 words tha...,0,forex trading cramer iger words that wreck...
7581,10833,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0,@@@ great atmosphere the british lion gig toni...
7582,10834,wrecked,NaN,Cramer: Iger's 3 words that wrecked Disney's s...,0,cramer iger words that wrecked disney stock...

In [21]:
wv.lemmatizer(df)
df

[nltk_data] Downloading package stopwords to /home/sven/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/sven/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

,id,keyword,location,text,target,clean
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1,@@@ wholesale market ablaze http
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0,always try bring heavy metal http
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1,africanbaze breaking news nigeria flag set abl...
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0,cry set ablaze
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0,plus side look sky last night ablaze http
...,...,...,...,...,...,...
7578,10830,wrecked,NaN,@jt_ruff23 @cameronhacker and I wrecked you both,0,@@@ @@@ wrecked
7579,10831,wrecked,"Vancouver, Canada",Three days off from work and they've pretty mu...,0,three day work pretty much wrecked hahaha shou...
7580,10832,wrecked,London,#FX #forex #trading Cramer: Iger's 3 words tha...,0,forex trading cramer iger word wrecked disney ...
7581,10833,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0,@@@ great atmosphere british lion gig tonight ...
7582,10834,wrecked,NaN,Cramer: Iger's 3 words that wrecked Disney's s...,0,cramer iger word wrecked disney stock cnbc http

In [22]:
wv.vectorizer(df)
df

X_train  (6041, 12452)
y_train  (6041,)
X_test   (1511, 12452)
y_test   (1511,)
matrix shape (7552, 12452)
y shape (7552,)
accuracy_score 0.88

,id,keyword,location,text,target,clean
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1,@@@ wholesale market ablaze http
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0,always try bring heavy metal http
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1,africanbaze breaking news nigeria flag set abl...
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0,cry set ablaze
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0,plus side look sky last night ablaze http
...,...,...,...,...,...,...
7578,10830,wrecked,NaN,@jt_ruff23 @cameronhacker and I wrecked you both,0,@@@ @@@ wrecked
7579,10831,wrecked,"Vancouver, Canada",Three days off from work and they've pretty mu...,0,three day work pretty much wrecked hahaha shou...
7580,10832,wrecked,London,#FX #forex #trading Cramer: Iger's 3 words tha...,0,forex trading cramer iger word wrecked disney ...
7581,10833,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0,@@@ great atmosphere british lion gig tonight ...
7582,10834,wrecked,NaN,Cramer: Iger's 3 words that wrecked Disney's s...,0,cramer iger word wrecked disney stock cnbc http

In [23]:
X = wv.simple_vectorizer(df)
y = df['target']

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(6041, 12452) (1511, 12452) (6041,) (1511,)

In [26]:
print('DecisionTreeClassifier:' , decision_trees.cvs_decision_tree(X_train, y_train))


print('AdaBoostClassifier:' , decision_trees.csv_adaboost(X_train, y_train))

DecisionTreeClassifier: 0.7429225620210452
AdaBoostClassifier: 0.7399421556866548