In [ ]:
import pandas as pd
from IPython.display import display
import configparser
import modules.test as tst
import modules.pred_word_vectorizer as wv

settings = configparser.ConfigParser()
settings.read('main.ini')

file_path = settings['FILE']['file']

df = pd.read_csv(file_path)

tst.import_test()
display(df)

'test'

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [ ]:
wv.cleaning(df)
df

In [ ]:
wv.lemmatizer(df)
df

In [ ]:
wv.vectorizer(df)
df